{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "classes": true,
    "modules": true,
    "experimentalObjectRestSpread": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "process": false,
    "require": false,
    "define": false,
    "console": false,
  },
  "rules": {
    "camelcase": 0,
    "comma-dangle": 2,
    "jsx-quotes": [2, "prefer-double"],
    "indent": [2, "tab", {"SwitchCase": 1}],
    "max-len": [2, 200, 2],
    "new-cap": [2, {"capIsNewExceptions": ["Server", "Router", "Ajv"]}],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "no-caller": 2,
    "no-console": 0,
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-multiple-empty-lines": 0,
    "no-undef": 2,
    "no-unused-vars": [2, {"args": "none"}],
    "no-use-before-define": [2, "nofunc"],
    "no-var": 2,
    "padded-blocks": 0,
    "quotes": [2, "single"],
    "react/display-name": 0,
    "react/jsx-equals-spacing": [2, "never"],
    "react/jsx-indent": [2, "tab"],
    "react/jsx-indent-props": [2, "tab"],
    "react/jsx-pascal-case": 2,
    "react/jsx-wrap-multilines": [2, {
      "declaration": true,
      "assignment": true,
      "return": true
    }],
    "react/react-in-jsx-scope": 2,
    "react/sort-comp": [2, {
      "order": [
        "static-methods",
        "lifecycle",
        "/^on.+$/",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "everything-else",
        "/^render.+$/",
        "render"
      ],
    }],
    "semi": [2, "always"],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "strict": [2, "never"],
    "wrap-iife": [2, "inside"]
  },
  "plugins": [
    "react"
  ]
}
