// The styles here allow for a padding to be added to the top of the header
// which makes room for iOS's status bar.
header {
    background-color: @brand-white;
    box-shadow: 0 -2px 12px 0 @shadow-color;
    // padding-top: 15px; // Padding for iOS, should be conditionally added in the build
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;

    h1 {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        line-height: 55px;
        font-size: 18px;
    }

    > .header-toggle {
        display: block;
        position: absolute;
        right: 15px;
        top: 0;
        font-size: 14px;
        color: @brand-blue;
        text-transform: uppercase;
        line-height: 55px;
    }

    > .header-btn {
        display: block;
        position: absolute;
        left: 5px;
        bottom: 8px; // This keeps it anchored properly when iOS padding is added
        height: 40px;
        width: 40px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 15px;
            top: 15px;
            height: 10px;
            width: 10px;
            border: 2px solid @brand-blue;
            border-top: none;
            border-right: none;
            transform: rotate(45deg);
        }
    }

	.header-search {
        display: block;
        position: absolute;
        left: 15px;
        bottom: 18px;
        height: 20px;
        width: 20px;
        z-index: 101;

		.header-search-icon {
			.cls-1 {
				fill: @brand-blue;
			}
		}
    }

    .search-input {
        position: absolute;
        top: 8px;
        left: 10px;
        width: 75%;
        transition: all .5s ease;

        &.hidden {
            width: 0;
			transition: all .5s ease;

            input {
                opacity: 0;
				transition: all .5s ease;
            }
        }

        input {
            background: @brand-gray;
            border-radius: 4px;
            border: none;
            padding: 10px 15px 10px 35px;
            width: 100%;
            box-sizing: border-box;
            position: relative;
            z-index: 100;
            opacity: 1;
			transition: all .5s ease;
        }
    }

    .logo {
        display: block;
        margin: 17px auto 0;
        width: 140px;
    }
}
