#login {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 20px 38px;

    .input-fields {
        position: relative;
    }

    p {
      color: @brand-white;
      font-size: 14px;
    }

    label {
        display: block;
        margin-bottom: 10px;
        color: @brand-white;
        font-weight: 700;
    }

    input[type="email"],
    input[type="password"] {
        display: block;
        width: 100%;
        margin: 0 auto 5px;

        &:not(:focus) {
            border-color: transparent;
        }
    }

    object {
        svg {
            height: 100%;
        }

        display: block;
        width: 100%;
        max-width: 180px;
        margin: 0px auto 60px;
        transition: all .5s ease;

        &.focused {
          margin: 20px auto 30px;
          transition: all .5s ease;
        }
    }

    button {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 1em;
        margin: 15px auto 0;
        padding: 18px 0;
    }

    .loader {
        width: 30px;
        display: block;
        margin: 25px auto 0;

        rect {
            fill: #fff !important;
        }
    }

    .error-message {
        position: absolute;
        margin: 0;
        top: -30px;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        border-left: 3px solid @brand-error;
        background: lighten(@brand-error, 40%);
        color: @brand-error;
        padding: 3px;
        border-radius: 2px;

        &.login-error-enter {
            opacity: 0;

            &.login-error-enter-active {
                transition: opacity 300ms;
                opacity: 1;
            }
        }

        &.login-error-leave {
            opacity: 1;

            &.login-error-leave-active {
                transition: opacity 300ms;
                opacity: 0;
            }
        }
    }

    #not-a-member {
        margin-top: 40px;
        text-align: center;

        a {
          color: @brand-blue;
          font-weight: 600;

          &:hover {
            color: @brand-blue;
          }
        }
    }


  .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }

  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 320%;
      left: -110%;
    }
  }

  #carousel {
    position: fixed;
    bottom: 3em;
    width: 100%;
    height: 200px;
    left: 0;
    right: 0;
  }

  .login-actions {
    position: fixed;
    bottom: 0;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    right: 0;

    > button {
      width: 47.5%;
      float: left;
      margin: 0;

      &:first-child {
        margin-right: 2.5%;
      }

      &:last-child {
        margin-left: 2.5%;
      }

      &.btn-default {
        background: transparent;
        border: 1px solid @brand-blue;
        color: @brand-white;
      }

      &.btn-primary {
        background: @brand-blue;
        border: @brand-blue;
        color: @brand-white;

        a, a:hover {
          color: @brand-white;
        }
      }
    }
  }
}
